<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title GoodBye
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css")
  link(rel="stylesheet", href="css/style.css")
body
  .mail
    .header
      .logo
        img(src="images/logo.png", alt="logo")
    .banner
      .title
        h1 Batch #18
        p $ git merge master with success _
    .content
      h4 Hello Florent :)
      p Te voilà maintenant alumni du wagon. Tu as brillament survécu à ces 9 semaines très intenses et tu as pu cristalliser tes connaissances à travers le projet pour lequel tu étais investi.
      h4 Quel chemin parcouru !
      p On te propose de jeter un oeil à ce petit récapitulatif des concepts clés que tu as appris.
      p On te laisse tout le loisir de regarder à nouveau toutes les vidéos du programme et relire nos supports de cours ...
      p Il faut maintenant aller au-delà. Et pour t'encourager on t'offre la track Data-Scientist ...
      p Appuie toi sur la communauté du wagon, viens participer à nos meetups, rencontrer nos futurs élèves lors d'un prochain wagon-bar ...
      h4 Et maintenant ?
      ul
        li ...
        li ...
